* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #003a70;
}

.content {
  width: 100vw;
  height: auto;
  padding: 1rem;
  background-color: #f6f8fc;
}

.logo {
  font-family: "Pokemon Solid", sans-serif;
  color: #ffcb05;
  padding-left: 1rem;
  font-size: 4rem;
  text-shadow: -5px 7px 0 #3d7dca, 2px 1px 0 #3d7dca, 2px -1px 0 #3d7dca,
    -1px -1px 0 #3d7dca;
  filter: drop-shadow(0 0 0.5rem #003a70);
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}
